In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
fullData = pd.read_csv("weekly_cancer.csv")
#myData = fullData[['Quarter', 'HB', 'CancerType','NumberOfEligibleReferrals31DayStandard','NumberOfEligibleReferralsTreatedWithin31Days']]
HBs=pd.read_csv("HBs.csv")

In [40]:
HBs

,HB,HBName,HBDateEnacted,HBDateArchived,Country
0,S08000015,NHS Ayrshire and Arran,20140401,NaN,S92000003
1,S08000016,NHS Borders,20140401,NaN,S92000003
2,S08000017,NHS Dumfries and Galloway,20140401,NaN,S92000003
3,S08000018,NHS Fife,20140401,20180201.0,S92000003
4,S08000019,NHS Forth Valley,20140401,NaN,S92000003
5,S08000020,NHS Grampian,20140401,NaN,S92000003
6,S08000021,NHS Greater Glasgow and Clyde,20140401,20190331.0,S92000003
7,S08000022,NHS Highland,20140401,NaN,S92000003
8,S08000023,NHS Lanarkshire,20140401,20190331.0,S92000003
9,S08000024,NHS Lothian,20140401,NaN,S92000003
10,S08000025,NHS Orkney,20140401,NaN,S92000003
11,S08000026,NHS Shetland,20140401,NaN,S92000003
12,S08000027,NHS Tayside,20140401,20180201.0,S92000003
13,S08000028,NHS Western Isles,20140401,NaN,S92000003
14,S08000029,NHS Fife,20180202,NaN,S92000003
15,S08000030,NHS Tayside,20180202,NaN,S92000003
16,S08000031,NHS Greater Glasgow and Clyde,20190401,NaN,S92000003
17,S08000032,NHS Lanarkshire,20190401,NaN,S92000003

In [49]:
Areas=np.asarray(fullData['Area name'])
HB_code=np.asarray(HBs['HB'])
HB_name=np.asarray(HBs['HBName'])

for i in np.arange(len(HB_name)):
    y=np.where(Areas==HB_name[i])
    Areas[y]=HB_code[i]


fullData['HB'] =Areas.tolist()
f=fullData

In [50]:
fullData

,Area name,Cancer type,Sex,Age Group,Deprivation Quintile (0=unknown),Week Number,Count 2019,Count 2020,Count 2021,Breakdown,HB
0,NCA,All Cancers,Male,All Ages,0,1,92.0,23,113.0,None,NCA
1,NCA,All Cancers,Female,All Ages,0,1,88.0,29,92.0,None,NCA
2,NCA,All Cancers,All,All Ages,0,1,180.0,52,205.0,None,NCA
3,NCA,All Malignant Neoplasms (Excl. C44),Male,All Ages,0,1,59.0,16,75.0,None,NCA
4,NCA,All Malignant Neoplasms (Excl. C44),Female,All Ages,0,1,66.0,23,80.0,None,NCA
...,...,...,...,...,...,...,...,...,...,...,...
671346,S08000027,Leukaemias,Female,All Ages,2,53,NaN,0,NaN,Deprivation,S08000027
671347,S08000028,Hodgkin Lymphoma,Female,All Ages,3,53,NaN,0,NaN,Deprivation,S08000028
671348,S08000028,Pancreas,Male,All Ages,2,53,NaN,0,NaN,Deprivation,S08000028
671349,S08000028,Pancreas,All,All Ages,2,53,NaN,0,NaN,Deprivation,S08000028
671350,S08000028,"Trachea, Bronchus and Lung",Female,All Ages,2,53,NaN,0,NaN,Deprivation,S08000028

In [51]:


keep_col = ['HB','Cancer type','Sex','Age Group', 'Week Number','Count 2019']
cancerdata_2019 = f[keep_col]
cancerdata_2019.rename(columns={"Count 2019": "Count"}, inplace=True)
keep_col = ['HB','Cancer type','Sex','Age Group', 'Week Number','Count 2020']
cancerdata_2020 = f[keep_col]

cancerdata_2020.rename(columns={"Count 2020": "Count"}, inplace=True)
keep_col = ['HB','Cancer type','Sex','Age Group', 'Week Number','Count 2021']
cancerdata_2021 = f[keep_col]

cancerdata_2021.rename(columns={"Count 2021": "Count"}, inplace=True)

/home/s1657372/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [52]:
month=np.mod(np.asarray(cancerdata_2019['Week Number']),12)+1
year_month_week=np.asarray(cancerdata_2019['Week Number'])+month*100+20190000
cancerdata_2019['Month'] =month.tolist()
cancerdata_2019['Date'] =year_month_week.tolist()


month=np.mod(np.asarray(cancerdata_2020['Week Number']),12)+1
year_month_week=np.asarray(cancerdata_2020['Week Number'])+month*100+20200000
cancerdata_2020['Month'] =month.tolist()
cancerdata_2020['Date'] =year_month_week.tolist()

month=np.mod(np.asarray(cancerdata_2021['Week Number']),12)+1
year_month_week=np.asarray(cancerdata_2021['Week Number'])+month*100+20210000
cancerdata_2021['Month'] =month.tolist()
cancerdata_2021['Date'] =year_month_week.tolist()

<ipython-input-52-77a75f4f89f9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2019['Month'] =month.tolist()
<ipython-input-52-77a75f4f89f9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2019['Date'] =year_month_week.tolist()
<ipython-input-52-77a75f4f89f9>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2020['Month'] =month.tolist()
<ipython-input-52-77a75f4f89f9>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2020['Date'] =year_month_week.tolist()
<ipython-input-52-77a75f4f89f9>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2021['Month'] =month.tolist()
<ipython-input-52-77a75f4f89f9>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2021['Date'] =year_month_week.tolist()

In [53]:

all_years=pd.concat([cancerdata_2019,cancerdata_2020,cancerdata_2021],ignore_index=True)

In [54]:
all_years

,HB,Cancer type,Sex,Age Group,Week Number,Count,Month,Date
0,NCA,All Cancers,Male,All Ages,1,92.0,2,20190201
1,NCA,All Cancers,Female,All Ages,1,88.0,2,20190201
2,NCA,All Cancers,All,All Ages,1,180.0,2,20190201
3,NCA,All Malignant Neoplasms (Excl. C44),Male,All Ages,1,59.0,2,20190201
4,NCA,All Malignant Neoplasms (Excl. C44),Female,All Ages,1,66.0,2,20190201
...,...,...,...,...,...,...,...,...
2014048,S08000027,Leukaemias,Female,All Ages,53,NaN,6,20210653
2014049,S08000028,Hodgkin Lymphoma,Female,All Ages,53,NaN,6,20210653
2014050,S08000028,Pancreas,Male,All Ages,53,NaN,6,20210653
2014051,S08000028,Pancreas,All,All Ages,53,NaN,6,20210653
2014052,S08000028,"Trachea, Bronchus and Lung",Female,All Ages,53,NaN,6,20210653

In [56]:
all_years.to_csv('ready_cancerdata.csv')