In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

fullData = pd.read_csv("../final_code/data/weekly_cancer.csv")
#myData = fullData[['Quarter', 'HB', 'CancerType','NumberOfEligibleReferrals31DayStandard','NumberOfEligibleReferralsTreatedWithin31Days']]
HBs=pd.read_csv("../final_code/data/HBs.csv")

fullData.rename(columns={"Cancer type": "CancerType"}, inplace=True)
fullData

,Area name,CancerType,Sex,Age Group,Deprivation Quintile (0=unknown),Week Number,Count 2019,Count 2020,Count 2021,Breakdown
0,NCA,All Cancers,Male,All Ages,0,1,92.0,23,113.0,None
1,NCA,All Cancers,Female,All Ages,0,1,88.0,29,92.0,None
2,NCA,All Cancers,All,All Ages,0,1,180.0,52,205.0,None
3,NCA,All Malignant Neoplasms (Excl. C44),Male,All Ages,0,1,59.0,16,75.0,None
4,NCA,All Malignant Neoplasms (Excl. C44),Female,All Ages,0,1,66.0,23,80.0,None
...,...,...,...,...,...,...,...,...,...,...
671346,NHS Tayside,Leukaemias,Female,All Ages,2,53,NaN,0,NaN,Deprivation
671347,NHS Western Isles,Hodgkin Lymphoma,Female,All Ages,3,53,NaN,0,NaN,Deprivation
671348,NHS Western Isles,Pancreas,Male,All Ages,2,53,NaN,0,NaN,Deprivation
671349,NHS Western Isles,Pancreas,All,All Ages,2,53,NaN,0,NaN,Deprivation
671350,NHS Western Isles,"Trachea, Bronchus and Lung",Female,All Ages,2,53,NaN,0,NaN,Deprivation

In [46]:
HB_unique = HBs.drop(HBs.dropna(subset=['HBDateArchived']).index)
HB_unique['HBName'] = HB_unique.HBName.replace({' and ':' & '}, regex=True)
HB_unique

,HB,HBName,HBDateEnacted,HBDateArchived,Country
0,S08000015,NHS Ayrshire & Arran,20140401,NaN,S92000003
1,S08000016,NHS Borders,20140401,NaN,S92000003
2,S08000017,NHS Dumfries & Galloway,20140401,NaN,S92000003
4,S08000019,NHS Forth Valley,20140401,NaN,S92000003
5,S08000020,NHS Grampian,20140401,NaN,S92000003
7,S08000022,NHS Highland,20140401,NaN,S92000003
9,S08000024,NHS Lothian,20140401,NaN,S92000003
10,S08000025,NHS Orkney,20140401,NaN,S92000003
11,S08000026,NHS Shetland,20140401,NaN,S92000003
13,S08000028,NHS Western Isles,20140401,NaN,S92000003
14,S08000029,NHS Fife,20180202,NaN,S92000003
15,S08000030,NHS Tayside,20180202,NaN,S92000003
16,S08000031,NHS Greater Glasgow & Clyde,20190401,NaN,S92000003
17,S08000032,NHS Lanarkshire,20190401,NaN,S92000003

In [34]:
HB_code=np.asarray(HB_unique['HB'])
HB_name=np.asarray(HB_unique['HBName'])
dic={}
for i in range(len(HB_code)):
    dic[HB_name[i]] = HB_code[i]

fullData['HB'].replace(dic, inplace=True)
print(np.unique(fullData['HB']))
#dataframe = dataframe.groupby(dataframe.index.names).sum()

['NCA' 'NHS Ayrshire & Arran' 'NHS Dumfries & Galloway'
 'NHS Greater Glasgow & Clyde' 'S08000016' 'S08000019' 'S08000020'
 'S08000022' 'S08000024' 'S08000025' 'S08000026' 'S08000028' 'S08000029'
 'S08000030' 'S08000032' 'SCAN' 'Scotland' 'WOSCAN']

In [47]:
Areas=np.asarray(fullData['Area name'])
HB_code=np.asarray(HB_unique['HB'])
print(HB_code)
HB_name=np.asarray(HB_unique['HBName'])
print(HB_name)

for i in np.arange(len(HB_name)):
    y=np.where(Areas==HB_name[i])
    Areas[y]=HB_code[i]


fullData['HB'] =Areas.tolist()
print(np.unique(fullData['HB']))

['S08000015' 'S08000016' 'S08000017' 'S08000019' 'S08000020' 'S08000022'
 'S08000024' 'S08000025' 'S08000026' 'S08000028' 'S08000029' 'S08000030'
 'S08000031' 'S08000032']
['NHS Ayrshire & Arran' 'NHS Borders' 'NHS Dumfries & Galloway'
 'NHS Forth Valley' 'NHS Grampian' 'NHS Highland' 'NHS Lothian'
 'NHS Orkney' 'NHS Shetland' 'NHS Western Isles' 'NHS Fife' 'NHS Tayside'
 'NHS Greater Glasgow & Clyde' 'NHS Lanarkshire']
['NCA' 'S08000015' 'S08000016' 'S08000017' 'S08000019' 'S08000020'
 'S08000022' 'S08000024' 'S08000025' 'S08000026' 'S08000028' 'S08000029'
 'S08000030' 'S08000031' 'S08000032' 'SCAN' 'Scotland' 'WOSCAN']

In [51]:

Reigons = ['S08000015', 'S08000016', 'S08000017', 'S08000019', 'S08000020', 'S08000022', 'S08000024', 'S08000025', 'S08000026', 'S08000028', 'S08000029', 'S08000030', 'S08000031', 'S08000032']
#Reigons= ['NCA','WOSCAN','SCAN']
  # selecting rows based on condition
# selecting rows based on condition
f=fullData[fullData['Area name'].isin(Reigons)]

#f=fullData

In [52]:


keep_col = ['HB','CancerType','Sex','Age Group', 'Week Number','Count 2019']
cancerdata_2019 = f[keep_col]
cancerdata_2019.rename(columns={"Count 2019": "Count"}, inplace=True)
keep_col = ['HB','CancerType','Sex','Age Group', 'Week Number','Count 2020']
cancerdata_2020 = f[keep_col]

cancerdata_2020.rename(columns={"Count 2020": "Count"}, inplace=True)
keep_col = ['HB','CancerType','Sex','Age Group', 'Week Number','Count 2021']
cancerdata_2021 = f[keep_col]

cancerdata_2021.rename(columns={"Count 2021": "Count"}, inplace=True)

/home/s2273096/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [53]:
def weeknumber_2019(weekn):
    quarters=[]
    months=[]
    for wn in weekn:
        if wn in np.arange(6):
            month=1
        elif wn in np.arange(6,10):
            month=2
        elif wn in np.arange(10,14):
            month=3
        elif wn in np.arange(14,20):
            month=4
        elif wn in np.arange(20,24):
            month=5
        elif wn in np.arange(24,27):
            month=6
        elif wn in np.arange(27,32):
            month=7
        elif wn in np.arange(32,36):
            month=8
        elif wn in np.arange(36,41):
            month=9
        elif wn in np.arange(41,45):
            month=10
        elif wn in np.arange(45,49):
            month=11
        elif wn in np.arange(49,153):
            month=12
        months.append(month)
        quarters.append(np.int(np.floor(month/4)+1))
    return np.asarray(quarters),np.asarray(months)

def weeknumber_2020(weekn):
    quarters=[]
    months=[]
    for wn in weekn:
        if wn in np.arange(6):
            month=1
        elif wn in np.arange(6,10):
            month=2
        elif wn in np.arange(10,15):
            month=3
        elif wn in np.arange(15,19):
            month=4
        elif wn in np.arange(19,23):
            month=5
        elif wn in np.arange(23,28):
            month=6
        elif wn in np.arange(28,32):
            month=7
        elif wn in np.arange(32,37):
            month=8
        elif wn in np.arange(37,41):
            month=9
        elif wn in np.arange(41,45):
            month=10
        elif wn in np.arange(45,50):
            month=11
        elif wn in np.arange(49,54):
            month=12
        months.append(month)
        quarters.append(np.int(np.floor(month/4)+1))
    return np.asarray(quarters),np.asarray(months)

def weeknumber_2021(weekn):
    quarters=[]
    months=[]
    for wn in weekn:
        if wn in np.arange(6):
            month=1
        elif wn in np.arange(5,9):
            month=2
        elif wn in np.arange(9,14):
            month=3
        elif wn in np.arange(14,18):
            month=4
        elif wn in np.arange(18,23):
            month=5
        elif wn in np.arange(23,27):
            month=6
        elif wn in np.arange(27,31):
            month=7
        elif wn in np.arange(31,36):
            month=8
        elif wn in np.arange(36,40):
            month=9
        elif wn in np.arange(40,44):
            month=10
        elif wn in np.arange(44,49):
            month=11
        elif wn in np.arange(49,153):
            month=12
        months.append(month)
        quarters.append(np.int(np.floor(month/4)+1))
    return np.asarray(quarters),np.asarray(months)

In [54]:
weeknumber_2019(np.asarray(cancerdata_2019['Week Number']))

<ipython-input-53-507f8a2bc6c2>:30: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  quarters.append(np.int(np.floor(month/4)+1))

(array([1, 1, 1, ..., 4, 4, 4]), array([ 1,  1,  1, ..., 12, 12, 12]))

In [55]:

quarter,month=weeknumber_2019(np.asarray(cancerdata_2019['Week Number']))
date=month*100+20190000+np.asarray(cancerdata_2019['Week Number'])
month=month+201900
quarter=quarter+201900
cancerdata_2019['Quarter']=quarter.tolist()
cancerdata_2019['Month'] =month.tolist()
cancerdata_2019['Date'] =date.tolist()


quarter,month=weeknumber_2020(np.asarray(cancerdata_2020['Week Number']))
date=month*100+20200000+np.asarray(cancerdata_2020['Week Number'])
month=month+202000
quarter=quarter+202000
cancerdata_2020['Quarter'] =quarter.tolist()
cancerdata_2020['Month'] =month.tolist()
cancerdata_2020['Date'] =date.tolist()

quarter,month=weeknumber_2021(np.asarray(cancerdata_2021['Week Number']))
date=month*100+20210000+np.asarray(cancerdata_2021['Week Number'])
month=month+202100
quarter=quarter+202100
cancerdata_2021['Quarter'] =quarter.tolist()
cancerdata_2021['Month'] =month.tolist()
cancerdata_2021['Date'] =date.tolist()

<ipython-input-53-507f8a2bc6c2>:30: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  quarters.append(np.int(np.floor(month/4)+1))
<ipython-input-55-82bdc68e38d1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2019['Quarter']=quarter.tolist()
<ipython-input-55-82bdc68e38d1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2019['Month'] =month.tolist()
<ipython-input-55-82bdc68e38d1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2019['Date'] =date.tolist()
<ipython-input-53-507f8a2bc6c2>:62: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  quarters.append(np.int(np.floor(month/4)+1))
<ipython-input-55-82bdc68e38d1>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2020['Quarter'] =quarter.tolist()
<ipython-input-55-82bdc68e38d1>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2020['Month'] =month.tolist()
<ipython-input-55-82bdc68e38d1>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2020['Date'] =date.tolist()
<ipython-input-53-507f8a2bc6c2>:94: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  quarters.append(np.int(np.floor(month/4)+1))
<ipython-input-55-82bdc68e38d1>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2021['Quarter'] =quarter.tolist()
<ipython-input-55-82bdc68e38d1>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2021['Month'] =month.tolist()
<ipython-input-55-82bdc68e38d1>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancerdata_2021['Date'] =date.tolist()

In [56]:

all_years=pd.concat([cancerdata_2019,cancerdata_2020,cancerdata_2021],ignore_index=True)

In [61]:
print(np.unique(all_years['HB']))
all_years = all_years.dropna(axis=0)
all_years

['S08000015' 'S08000016' 'S08000017' 'S08000019' 'S08000020' 'S08000022'
 'S08000024' 'S08000025' 'S08000026' 'S08000028' 'S08000029' 'S08000030'
 'S08000031' 'S08000032']

,HB,CancerType,Sex,Age Group,Week Number,Count,Quarter,Month,Date
0,S08000015,All Cancers,Male,All Ages,1,33.0,201901,201901,20190101
1,S08000015,All Cancers,Female,All Ages,1,22.0,201901,201901,20190101
2,S08000015,All Cancers,All,All Ages,1,55.0,201901,201901,20190101
3,S08000015,All Malignant Neoplasms (Excl. C44),Male,All Ages,1,19.0,201901,201901,20190101
4,S08000015,All Malignant Neoplasms (Excl. C44),Female,All Ages,1,14.0,201901,201901,20190101
...,...,...,...,...,...,...,...,...,...
1249035,S08000030,Leukaemias,Female,All Ages,24,0.0,202102,202106,20210624
1249036,S08000028,Hodgkin Lymphoma,Female,All Ages,24,1.0,202102,202106,20210624
1249037,S08000028,Pancreas,Male,All Ages,24,1.0,202102,202106,20210624
1249038,S08000028,Pancreas,All,All Ages,24,1.0,202102,202106,20210624
1249039,S08000028,"Trachea, Bronchus and Lung",Female,All Ages,24,0.0,202102,202106,20210624

In [62]:
all_years.to_csv('../final_code/data/new_cancerdata.csv')

In [63]:
print(max(np.asarray(all_years['Date'])))

20210624

In [64]:
all_years['Count']

0          33.0
1          22.0
2          55.0
3          19.0
4          14.0
           ...
1249035     0.0
1249036     1.0
1249037     1.0
1249038     1.0
1249039     0.0
Name: Count, Length: 1239432, dtype: float64